#profile {
    padding: 0 30% 0 30%;
}

#profile-photo {
    width: 300px;
    height: auto;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-name {
    text-align: center;
}

.post-listing-title {
    font-size: 25px;
    margin-block-end: 0;
}

.tag {
    font-size: 15px;
    text-decoration: none;
    padding: 4px;
    /* border: 2px solid rgba(0, 0, 0, 0.75); */
    border-radius: 10px;
    background-color: rgba(95, 158, 160, 0.4);
}

.quote {
    color: #1b1b1b;
    background-color: #f8f8f8;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

a {color:inherit;}
a:visited {color:inherit;}
a.no-underline {text-decoration: none;}
a.no-highlight:hover {
    background-color: inherit;
    color: inherit;
    transition: none;
}
a:hover {
    background-color: #1b1b1b;
    color: #f8f8f8;
    transition: background-color 0.5s, color 0.5s;
}

nav {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px;
}

pre {
    border: 1px solid black;
    padding: 5px;
    box-shadow: 4px 7px;
    overflow: auto;
}

body {
	line-height: 1.5;
	margin: 0 auto 125px auto;
    padding: 0 24px 0 24px;
	max-width: 960px;
    font-family: 'Lora', serif;
	font-size: 20px;
}

blockquote {padding: 15px;}
blockquote:hover {background-color: rgb(226, 226, 226);}
blockquote:target {border: 2px solid black;}

html {
    background-color: #f8f8f8;
    color: #1b1b1b;
}

@media (prefers-color-scheme: dark) {
    blockquote:hover {background-color: rgb(37, 37, 37);}

    html {
        background-color: #2a2a2e;
        color: #d7d7db;
    }
}
