.title {
    font-size: large;
    font-weight: 600;
}

.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {color:inherit;}
a:visited {color:inherit;}
a.no-underline {text-decoration: none;}

nav {
    font-family: serif;
}

pre {
    border: 1px solid black;
    padding: 5px;
    box-shadow: 4px 7px;
    overflow: auto;
}

body {
	line-height: 1.5;
	margin: 0 auto 125px auto;
	max-width: 960px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14pt;
}

blockquote {
    padding: 15px;
}

blockquote:hover {background-color: rgb(226, 226, 226);}
blockquote:target {border: 2px solid black;}

html {
    background-color: #f8f8f8;
    color: #1b1b1b;
}

@media (prefers-color-scheme: dark) {
    blockquote:hover {background-color: rgb(37, 37, 37);}

    html {
        background-color: #2a2a2e;
        color: #d7d7db;
    }
}
