<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/style.css">
        <meta name="revisit-after" content="1 days">
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        <meta name="robots" content="index, follow">
        <meta name="author" content="Luke I. Wilson">
        {{ if isset .Params "description" }}
        <meta name="description" content="{{ .Description }}">
        {{ end }}
        {{ if isset .Params "tags" }}
        <meta name="keywords" content="{{ delimit .Params.tags ", " }}">
        {{ end }}
        {{ if isset .Params "title" }}
        <title>{{ print .Title " - " .Site.Title }}</title>
        {{ else }}
        <title>{{ .Site.Title }}</title>
        {{ end }}
    </head>
    <body>
        {{ partial "nav.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
