{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ if eq .Title "Tags" }}
<p>(In alphabetical order)</p>
<p>
{{ range .Pages.ByTitle }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> 
{{ end }}
</p>
{{ else }}
{{ if eq .Title "Quotes" }}
<p>These are quotes that I like. When this page gets too long I may refactor these into categories.</p>
{{ range .Pages.ByPublishDate }}
    {{ $id := urlize .Title }}
    <blockquote id="{{ $id }}"><a class="no-underline" href="#{{ $id }}">{{ .RawContent }} — {{ .Params.citation }}</a></blockquote>
{{ end }}
{{ else }}
{{ range .Pages.ByPublishDate.Reverse }}
<p>
    <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    <br>
    {{ partial "date-and-tags.html" . }}
</p>
{{ end }}
{{ end }}
{{ end }}

{{ end }}
