{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ if eq .Title "Tags" }}
<p>
{{ range .Pages.ByTitle }}
    <a href="{{ .RelPermalink }}" class="tag">{{ .Title }}</a> 
{{ end }}
</p>
{{ else }}
{{ if eq .Title "Quotes" }}
{{ range .Pages.ByPublishDate }}
    {{ $id := urlize .Title }}
    <a href="#{{ $id }}" class="no-underline no-highlight"><blockquote id="{{ $id }}">{{ .RawContent }} — {{ .Params.citation }}</blockquote></a>
{{ end }}
{{ else }}
{{ range .Pages.ByPublishDate.Reverse }}
<p>
    <a href="{{ .RelPermalink }}"><h2 class="post-listing-title">{{ .Title }}</h2></a>
    {{ partial "date-and-tags.html" . }}
</p>
{{ end }}
{{ end }}
{{ end }}

{{ end }}
