{{ define "main" }}

<header>
	<!-- TODO: A photo of me -->
    <h3>Luke I. Wilson</h3>
    <!-- TODO: Contact info (GitHub, Twitter, Email, Medium buttons) -->
    <ul class="no-bullets">
        <li><img src="/icons/github.svg"><a href="https://github.com/codemessiah" target="_blank"> GitHub</a></li>
        <li><img src="/icons/twitter.svg"><a href="https://twitter.com/thelukaswils" target="_blank"> Twitter</a></li>
        <li><img src="/icons/mail.svg"><a href="mailto:thelukaswils@gmail.com" target="_blank"> Email</a></li>
    </ul>
</header>

<p>I started programming as a kid, tinkering with Visual Basic. Today, I work with low level code to write high performance and experimental software for consumer computer systems. I'm passionately curious about computers and FOSS.</p>

{{ with .Site.GetPage "/blog" }}
<h2>Recent Blog Posts</h2>
{{ range first 5 .Pages.ByPublishDate.Reverse }}
<p>
    <a class="title" style="font-size: large; font-weight: 600;" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 1, 2020" }}
    <time style="font-size: smaller;" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</p>
{{ end }}
<p><a href="/blog">See more posts</a></p>
{{ end }}

<h2>Projects</h2>
<iframe src="https://itch.io/embed/781015?bg_color=0a0a0a&amp;fg_color=ffffff&amp;link_color=0c7e00&amp;border_color=333333" width="552" height="167" frameborder="0"><a href="https://asmoaesl.itch.io/vrmnnvzn">VRMN NVZN by Luke I. Wilson</a></iframe>
<iframe src="https://itch.io/embed/472697?border_width=0" width="550" height="165" frameborder="0"><a href="https://asmoaesl.itch.io/star-raid">Star Raid by Luke I. Wilson</a></iframe>
<p>More projects can be found on <a href="https://github.com/codemessiah" target="_blank">my GitHub</a>.</p>

<h2>Reading List</h2>
<ul>
    <li><a class="title">Just For Fun </a><a style="font-size: smaller;">Linus Torvalds, David Diamond</a> (Autobiography)</li>
    <li><a class="title">Modern Operating Systems: Fourth Edition </a><a style="font-size: smaller;">Andrew S. Tanenbaum, Herbert Bos</a></li>
    <li><a class="title">Compilers: Principles, Techniques, and Tools </a><a style="font-size: smaller;">Alfred V. Aho, Ravi Sethi, Jeffrey D. Ullman</a></li>
</ul>

<h3>Quotes</h3>
<pre>
minierolls: All I got stuck on was proper thread semantics in Zig
minierolls: Just needed a few hours to sit down and do it right, but haven’t had the time recently 😦
codemessiah: I went stupid on that shit
codemessiah: I literally assumed data races would occur but as long as I only read then it won't cause problems
minierolls: lmao nice
minierolls: fair assumption
codemessiah: 🖕🏼 f*ck you Rust
minierolls: LOL
minierolls: what a mood
</pre>

{{ end }}
