{{ define "main" }}

<header>
	<!-- TODO: A photo of me -->
    <h3>Luke I. Wilson</h3>
    <!-- TODO: Contact info (GitHub, Twitter, Email, Medium buttons) -->
    <ul class="no-bullets">
        <li><img src="/icons/github.svg"><a href="https://github.com/codemessiah" target="_blank"> GitHub</a></li>
        <li><img src="/icons/twitter.svg"><a href="https://twitter.com/thelukaswils" target="_blank"> Twitter</a></li>
        <li><img src="/icons/mail.svg"><a href="mailto:thelukaswils@gmail.com" target="_blank"> Email</a></li>
    </ul>
</header>

<p>I started programming as a kid, tinkering with Visual Basic. Today, I work with low level code to write high performance and experimental software for consumer computer systems. I'm passionately curious about computers and FOSS.</p>
<p>Medium generously pays me about $15/month for the articles I wrote on their site. While the passive income is nice, I don't believe it is approprite for my desire to teach and blog unbiased and without clickbait titles. This blog (lukewilson.me) is where I will be writing all new content. My old blog at Medium can be found <a href="https://medium.com/@thelukaswils" target="_blank">here</a>.</p>
<p>This site uses no tracking, cookies, nor JavaScript. You can see <a href="https://github.com/codemessiah/codemessiah" target="_blank">the site code on GitHub</a>.</p>

<blockquote>
"One of the least understood pieces of the open source puzzle is how so many good programmers would deign to work for absolutely no money. A word of motivation is in order. In a society where survival is more or less assured, money is not the greatest of motivators. It's been well established that folks do their best work when they are driven by a passion. When they are having fun." — Linus Torvalds (*Just For Fun* pg. 227)
</blockquote>

{{ with .Site.GetPage "/blog" }}
<h2>Recent Blog Posts</h2>
{{ range first 5 .Pages.ByPublishDate.Reverse }}
<p>
    <a class="title" style="font-size: large; font-weight: 600;" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 1, 2020" }}
    <time style="font-size: smaller;" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</p>
{{ end }}
<p><a href="/blog">See more posts</a></p>
{{ end }}

<h2>Projects</h2>
<iframe src="https://itch.io/embed/781015?bg_color=0a0a0a&amp;fg_color=ffffff&amp;link_color=0c7e00&amp;border_color=333333" width="552" height="167" frameborder="0"><a href="https://asmoaesl.itch.io/vrmnnvzn">VRMN NVZN by Luke I. Wilson</a></iframe>
<iframe src="https://itch.io/embed/472697?border_width=0" width="550" height="165" frameborder="0"><a href="https://asmoaesl.itch.io/star-raid">Star Raid by Luke I. Wilson</a></iframe>
<p>More projects can be found on <a href="https://github.com/codemessiah" target="_blank">my GitHub</a>.</p>

<h2>Reading List</h2>
<ul>
    <li><s><a class="title">Just For Fun </a><a style="font-size: smaller;">Linus Torvalds, David Diamond</a> (Autobiography)</s></li>
    <li><a class="title">Software Engineering at Google: </a>Lessons Learned From Programming Over Time <a style="font-size: smaller;">Titus Winters, Tom Mashreck, and Hyrum Wright</a></li>
    <li><a class="title">Modern Operating Systems: Fourth Edition </a><a style="font-size: smaller;">Andrew S. Tanenbaum, Herbert Bos</a></li>
    <li><a class="title">Compilers: Principles, Techniques, and Tools </a><a style="font-size: smaller;">Alfred V. Aho, Ravi Sethi, Jeffrey D. Ullman</a></li>
</ul>

<h3><a href="/quotes">Quotes</a></h3>
See <a href="/quotes">quotes I like</a>.

{{ end }}
